Repository papillonarts/papillonarts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js,.jsx,.ts,.tsx packages/components/src/**/**/*.{js,jsx,ts,tsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx,ts,tsx}", eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}", eslint --ext .js,.ts packages/setup/src/**/**/*.{js,ts} --fix, prettier --write "packages/setup/src/**/**/*.{js,ts}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

.lintstagedrc:

{
  "packages/components/src/**/*.{js,jsx,ts,tsx}": [
    "eslint --ext .js,.jsx,.ts,.tsx packages/components/src/**/**/*.{js,jsx,ts,tsx} --fix",
    "prettier --write \"packages/components/src/**/**/*.{js,jsx,ts,tsx}\"",
    "git add"
  ],
  "packages/library/src/**/*.{js,ts}": [
    "eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix",
    "prettier --write \"packages/library/src/**/**/*.{js,ts}\"",
    "git add"
  ],
  "packages/setup/src/**/*.{js,ts}": [
    "eslint --ext .js,.ts packages/setup/src/**/**/*.{js,ts} --fix",
    "prettier --write \"packages/setup/src/**/**/*.{js,ts}\"",
    "git add"
  ],
  "packages/components/src/**/*.scss": [
    "stylelint \"packages/components/src/**/**/*.scss\" --custom-syntax=postcss-scss --fix",
    "prettier --write \"packages/components/src/**/**/*.scss\"",
    "git add"
  ]
}

lint format
  packages/library/src/a11y/index.ts
  packages/library/src/array/index.ts
  packages/library/src/array/types.ts
  packages/library/src/date/index.ts
  packages/library/src/event/index.ts
  packages/setup/src/storybook/setup/mainSetup.js
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}", eslint --ext .js,.ts packages/setup/src/**/**/*.{js,ts} --fix, prettier --write "packages/setup/src/**/**/*.{js,ts}"

implement and test browser js library
  packages/library/src/browser/__tests__/index.test.js
  packages/library/src/browser/index.js
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

implement a11y js library
  packages/library/src/a11y/index.js
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

implement auth js library
  packages/library/src/auth/index.js
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

implement number ts library
  packages/library/src/number/index.ts
  packages/library/src/number/types.ts
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

improve args type
  packages/library/src/event/index.ts
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

build js and ts
  packages/library/package.json
Due: none

rename
  .docs/concepts.md
Due: none

implement object ts library
  packages/library/src/object/index.ts
Due: eslint --ext .js,.ts packages/library/src/**/**/*.{js,ts} --fix, prettier --write "packages/library/src/**/**/*.{js,ts}"

implement primer css base
  packages/css/src/primer/base/base.scss
  packages/css/src/primer/base/index.scss
  packages/css/src/primer/base/kbd.scss
  packages/css/src/primer/base/normalize.scss
  packages/css/src/primer/base/octicons.scss
  packages/css/src/primer/base/typography-base.scss
Due: none

implement primer css color-modes
  packages/css/src/primer/color-modes/index.scss
  packages/css/src/primer/color-modes/native.scss
  packages/css/src/primer/color-modes/themes/dark.scss
  packages/css/src/primer/color-modes/themes/dark_colorblind.scss
  packages/css/src/primer/color-modes/themes/dark_dimmed.scss
  packages/css/src/primer/color-modes/themes/dark_high_contrast.scss
  packages/css/src/primer/color-modes/themes/dark_tritanopia.scss
  packages/css/src/primer/color-modes/themes/light.scss
  packages/css/src/primer/color-modes/themes/light_colorblind.scss
  packages/css/src/primer/color-modes/themes/light_high_contrast.scss
  packages/css/src/primer/color-modes/themes/light_tritanopia.scss
Due: none

implement primer css support
  packages/css/src/primer/support/index.scss
  packages/css/src/primer/support/mixins/color-modes.scss
  packages/css/src/primer/support/mixins/layout.scss
  packages/css/src/primer/support/mixins/misc.scss
  packages/css/src/primer/support/mixins/typography.scss
  packages/css/src/primer/support/variables/layout.scss
  packages/css/src/primer/support/variables/misc.scss
  packages/css/src/primer/support/variables/typography.scss
Due: none

implement primer css truncate
  packages/css/src/primer/truncate/index.scss
  packages/css/src/primer/truncate/truncate.scss
Due: none

implement primer css utilities
  packages/css/src/primer/utilities/animations.scss
  packages/css/src/primer/utilities/borders.scss
  packages/css/src/primer/utilities/box-shadow.scss
  packages/css/src/primer/utilities/colors.scss
  packages/css/src/primer/utilities/details.scss
  packages/css/src/primer/utilities/flexbox.scss
  packages/css/src/primer/utilities/index.scss
  packages/css/src/primer/utilities/layout.scss
  packages/css/src/primer/utilities/margin.scss
  packages/css/src/primer/utilities/padding.scss
  packages/css/src/primer/utilities/typography.scss
  packages/css/src/primer/utilities/visibility-display.scss
Due: none

implement primer css index
  packages/css/src/index.scss
  packages/css/src/primer/index.scss
Due: none

setup components storybook
  .storybook/main.js
Due: none

setup components dependencies
  bumpstack.sh
  package-lock.json
  package.json
Due: none

setup components eslint
  .eslintrc.js
Due: none

compile components ts
  packages/components/package.json
  packages/components/tsconfig.json
Due: none

implement primer components index
  packages/components/src/index.js
  packages/components/src/index.scss
  packages/components/src/primer/index.js
  packages/components/src/primer/index.scss
Due: eslint --ext .js,.jsx,.ts,.tsx packages/components/src/**/**/*.{js,jsx,ts,tsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx,ts,tsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

implement and test primer components Blankslate
  packages/components/src/primer/Blankslate/Blankslate.md
  packages/components/src/primer/Blankslate/Blankslate.prop.ts
  packages/components/src/primer/Blankslate/Blankslate.scss
  packages/components/src/primer/Blankslate/Blankslate.tsx
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.story.tsx
  packages/components/src/primer/Blankslate/__tests__/Blankslate.int.test.ts
  packages/components/src/primer/Blankslate/__tests__/__snapshots__/Blankslate.int.test.ts.snap
  packages/components/src/primer/Blankslate/index.js
Due: eslint --ext .js,.jsx,.ts,.tsx packages/components/src/**/**/*.{js,jsx,ts,tsx} --fix, prettier --write "packages/components/src/**/**/*.{js,jsx,ts,tsx}", stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

v0.2.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

install papillonarts latest
  package-lock.json
  package.json
  packages/components/package-lock.json
Due: none

restore Blankslate styles
  packages/components/src/primer/Blankslate/Blankslate.scss
Due: stylelint "packages/components/src/**/**/*.scss" --custom-syntax=postcss-scss --fix, prettier --write "packages/components/src/**/**/*.scss"

babel compile components and library
  packages/components/package.json
  packages/library/package.json
Due: none

v0.3.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

update node npm engines to latest
  package.json
Due: none

complement babel compile components and library
  packages/components/package.json
  packages/library/package.json
Due: none

bumpstack papillonarts
  package-lock.json
  package.json
Due: none

align library package files. with implementation
  packages/library/package.json
Due: none

v0.4.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

restore library package files with implementation
  packages/library/package.json
Due: none

bumpstack papillonarts comply with node v20.8.0 npm v10.1.0
  package-lock.json
  package.json
Due: none

v0.5.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none

bumpstack papillonarts comply with node v21.5.0 npm v10.2.4
  package-lock.json
  package.json
Due: none

v0.6.0
  lerna.json
  packages/components/package-lock.json
  packages/components/package.json
  packages/css/package-lock.json
  packages/css/package.json
  packages/library/package-lock.json
  packages/library/package.json
  packages/setup/package-lock.json
  packages/setup/package.json
Due: none
